{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Our Service</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap">
<link rel="stylesheet" href="{% static 'services.css' %}">
</head>

<body>
    <nav class="nav">
            <div class="nav-logo">
                <img src="{% static 'company_logo.png' %}" alt="Company Logo">
                <p style="font-size: 28px; font-weight: bold;">Meta Scifor Technologies</p>
            </div>
            <div class="nav-menu" id="navMenu">
                <ul>
                    <li><a onclick="window.location.href='/'" class="link" style="font-size: 20px; font-weight: bold;">Home</a></li>
                    <li><a onclick="window.location.href='/services'" class="link active" style="font-size: 20px; font-weight: bold;">Services</a></li>
                    <li><a onclick="window.location.href='/about-us'" class="link" style="font-size: 20px; font-weight: bold;">About</a></li>
                    <li><a onclick="window.location.href='/case_study'" class="link" style="font-size: 20px; font-weight: bold;">Case Studies</a></li>
                    <li><a href="#get_in_touch" class="link" style="font-size: 20px; font-weight: bold;">Contact</a></li>
                    <li><a onclick="window.location.href='/community'" class="link" style="font-size: 20px; font-weight: bold;">Community</a></li>
                    <li><a onclick="window.location.href='/carrer'" class="link" style="font-size: 20px; font-weight: bold;">Join Us</a></li>
                </ul>
            </div>

        </nav>
<div class="video-container">
    <video class="video" autoplay muted loop>
        <source src="https://player.vimeo.com/progressive_redirect/playback/476642450/rendition/360p/file.mp4?loc=external&oauth2_token_id=1747418641&signature=eaab8cfebe72e6788a86b83ab80003feb91d284a6eb42b27f89a418fbb7a1804" type="video/mp4">
        Your browser does not support the video tag.
    </video>
   </div>




    <div class="container">
    <div class="service-wrapper">
        <div class="services">
            <h1>OUR SERVICES<span></span></h1>
            <div class="cards">
                <div class="card">
                    <h2>SOFTWARE DEVELOPMENT</h2>
                        <p>Our software development process combines creativity and technical expertise. We begin with a thorough analysis of your business requirements, identifying opportunities for improvement. Our UX/UI experts then design intuitive interfaces that prioritize user experience. Using the latest technologies, our developers create a robust and scalable software solution. We follow industry best practices for code quality, security, and compliance, with rigorous testing to ensure a flawless user experience. Our commitment to quality extends to ongoing support and maintenance for optimal performance.</p>
                    <button onclick="window.location.href='/software-development'" class="btn">Learn More</button>
                </div>
                <div class="card">
                    <h2>DEVOPS</h2>
                        <p>Streamline your development and operations with our DevOps solutions. Our expert team implements continuous integration and delivery pipelines, automates infrastructure management, and ensures seamless collaboration between development and IT operations. From cloud migration to containerization and monitoring, we optimize your software development lifecycle for agility, scalability, and reliability. Whether you're building, deploying, or managing applications, our DevOps services enable faster time-to-market, improved quality, and reduced operational costs, empowering your teams to innovate and deliver value to your customers consistently.</p>
                    <button onclick="window.location.href='/devops-services'" class="btn">Learn More</button>
                </div>
                <div class="card">
                    <h2>GAME DEVELOPMENT</h2>
                        <p>Immerse your audience in interactive experiences with our Game Development services. Our passionate team of game developers combines creativity with technical expertise to create captivating gaming experiences across platforms. From concept ideation and game design to development and testing, we leverage the latest technologies and industry best practices to bring your game ideas to life. Whether you're developing mobile games, AR/VR experiences, or multiplayer online games, our Game Development services focus on delivering immersive gameplay, engaging narratives, and high-quality visuals that resonate with players, driving engagement and retention for your gaming products.</p>
                    <button onclick="window.location.href='/game-development'" class="btn">Learn More</button>
                </div>
                <div class="card">
                    <h2>UI UX DESIGN</h2>
                        <p>Create exceptional user experiences with our UI/UX Design services. Our talented designers combine creativity with usability principles to craft intuitive and visually appealing interfaces. From wireframing and prototyping to user testing and interface design, we prioritize user-centric design to ensure that every interaction is seamless and engaging. Whether you're designing a new product, improving an existing interface, or optimizing for mobile responsiveness, our UI/UX Design services focus on delivering designs that captivate users and drive conversions, enhancing your brand's digital presence and customer satisfaction.</p>
                    <button onclick="window.location.href='/ui-ux-design'" class="btn">Learn More</button>
                </div>
            </div>
        </div>
    </div>
</div>







<div class="container">
    <div class="service-wrapper">
        <div class="services">
            <h1>OUR SERVICES<span></span></h1>
            <div class="cards">
                <button onclick="window.location.href='/software-development'">
                    <div class="card" style="text-align:justify;">
                        <h2>SOFTWARE DEVELOPMENT</h2>
                        <p>Our software development process combines creativity and technical expertise. We begin with a thorough analysis of your business requirements, identifying opportunities for improvement. Our UX/UI experts then design intuitive interfaces that prioritize user experience. Using the latest technologies, our developers create a robust and scalable software solution. We follow industry best practices for code quality, security, and compliance, with rigorous testing to ensure a flawless user experience. Our commitment to quality extends to ongoing support and maintenance for optimal performance.</p>
                    </div>
                </button>
            </div>

            <div class="cards">
                <button onclick="window.location.href='/software-development'">
                    <div class="card" style="text-align:justify;">
                        <h2>DEVOPS</h2>
                        <p>Streamline your development and operations with our DevOps solutions. Our expert team implements continuous integration and delivery pipelines, automates infrastructure management, and ensures seamless collaboration between development and IT operations. From cloud migration to containerization and monitoring, we optimize your software development lifecycle for agility, scalability, and reliability. Whether you're building, deploying, or managing applications, our DevOps services enable faster time-to-market, improved quality, and reduced operational costs, empowering your teams to innovate and deliver value to your customers consistently.</p>
                    </div>
                </button>
            </div>

            <div class="cards">
                <button onclick="window.location.href='/software-development'">
                    <div class="card" style="text-align:justify;">
                        <h2>GAME DEVELOPMENT</h2>
                        <p>Immerse your audience in interactive experiences with our Game Development services. Our passionate team of game developers combines creativity with technical expertise to create captivating gaming experiences across platforms. From concept ideation and game design to development and testing, we leverage the latest technologies and industry best practices to bring your game ideas to life. Whether you're developing mobile games, AR/VR experiences, or multiplayer online games, our Game Development services focus on delivering immersive gameplay, engaging narratives, and high-quality visuals that resonate with players, driving engagement and retention for your gaming products.</p>
                    </div>
                </button>
            </div>

            <div class="cards">
                <button onclick="window.location.href='/software-development'">
                    <div class="card" style="text-align:justify;">
                        <h2>UI UX DESIGN</h2>
                        <p>Create exceptional user experiences with our UI/UX Design services. Our talented designers combine creativity with usability principles to craft intuitive and visually appealing interfaces. From wireframing and prototyping to user testing and interface design, we prioritize user-centric design to ensure that every interaction is seamless and engaging. Whether you're designing a new product, improving an existing interface, or optimizing for mobile responsiveness, our UI/UX Design services focus on delivering designs that captivate users and drive conversions, enhancing your brand's digital presence and customer satisfaction.</p>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>


















<footer>
    <div id="footer" class="footer-content">
        <div class="social-media">
            <!-- Company logo -->
            <a href="/" id="company-logo">
            <img src="{% static 'emplo.png' %}" alt="Logo" class="company-logo" style="width: 150px; height: auto;">
            </a>
            <p class="slogan" style="margin-bottom: 100px; margin-left:-45px;">Script. Sculpt. Socialize!</p>
            
            <div class="header-links">
                <h3 style= "color: #3E8EDE; font-size: 25px; font-weight: bold;">LINKS</h3>
                <h3 style="font-size: 15px; font-weight: bold;"><a href="/" style="color: inherit; text-decoration: none;">HOME</a></h3>
                <h3 style= "color: white; font-size: 15px; font-weight: bold; cursor: pointer;"><a onclick="window.location.href='/services'" target="_blank" style="color: inherit; text-decoration: none;">SERVICES</h3>
                    <h3 style= "font-size: 15px; font-weight: bold;"><a href="About.html" target="_blank" style="color: inherit; text-decoration: none;">ABOUT</h3>
                <h3 style= "color: white; font-size: 15px; font-weight: bold; cursor: pointer;"><a onclick="window.location.href='/case_study'" target="_blank" style="color: inherit; text-decoration: none;">CASE STUDIES</a></li>                            
                <h3 style= "font-size: 15px; font-weight: bold;"><a href="#footer" style="color: inherit; text-decoration: none;">CONTACT</a></h3>
                    <li><a onclick="window.location.href='/carrer'" class="link" style="font-size: 20px; font-weight: bold;">Join Us</a></li>
            </div>
            
            <!-- Social media icons -->
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/share/togajFtqxTBofCCP/?mibextid=qi2Omg" target="_blank"><img src="{% static 'fb.png' %}" alt="Facebook"></a></li>
                <li><a href="#"><img src="{% static 'twitter.png' %}" alt="Twitter"></a></li>
                <li><a href="https://www.linkedin.com/company/scifortechnologies/" target="_blank"><img src="{% static 'linkedin.png' %}" alt="LinkedIn"></a></li>
                <li><a href="#"><img src="{% static 'wp.png' %}" alt="Whatsapp"></a></li>
                <li><a href="#"><img src="{% static 'youtube.png' %}" alt="Youtube"></a></li>
                <li><a href="https://www.instagram.com/metascifortechnologies?igsh=MXVwbXdodm5pYWFqNA==" target="_blank"><img src="{% static 'instagram.png' %}" alt="LinkedIn"></a></li>
                <!-- Add more social media icons as needed -->
            </ul>
        </div>
        <div class="company-details">
            <h2 style= "color: #3E8EDE; font-size: 40px; font-weight: bold; margin-left: 300px;">CONTACT US</h2>
            <h3 style= "font-size: 30px; font-weight: bold; margin-left: 300px;">Meta Scifor Technologies</h3>
            <p style= "margin-left: 300px;">Address: No.13-14, 2nd floor, Kothnur Main Rd</p>
            <p style= "margin-left: 300px;">JP Nagar 7th Phase, Bengaluru</p>
            <p style= "margin-left: 300px;">Karnataka 560078S</p>
            <p style= "margin-left: 300px;">Email: info@scifortechnologies.com</p>
            <p style= "margin-left: 300px;">Phone: +916235187933</p>
        </div>
    </div>
    <div class="copyright">
        <p style= "color: #3E8EDE; margin-left: 70px; font-size: 15px;">&copy; 2024 Meta Scifor Technologies. All Rights Reserved.</p>
    </div>
    <div class="copyright">
        <a href="#" class="terms-link" style= "color: #3E8EDE; font-size: 15px;">Terms & Conditions</a>
    </div>
</footer>

</body>
</html>

